[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pygments = "*"
click = "*"
prompt-toolkit = "==2.0.2"


[dev-packages]

pylint = "*"
pycodestyle = "*"
