[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pygments = "*"
click = "*"

[packages.prompt_toolkit]
git = "https://github.com/jonathanslenders/python-prompt-toolkit.git@2.0"


[dev-packages]

neovim = "*"
