[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygments = "*"
prompt-toolkit = ">=2.0.7"

[dev-packages]
pylint = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
